<footer class="site-footer">

  <div class="wrapper">

    <ul class="footer-links">
      {% if site.github_username %}
      <li>
        {% include icon-github.html username=site.github_username %}
      </li>
      {% endif %}

      {% if site.twitter_username %}
      <li>
        {% include icon-twitter.html username=site.twitter_username %}
      </li>
      {% endif %}

      <li>
        <a href="mailto:{{ site.email }}">Email</a>
      </li>

      <li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS feed</a>
      </li>
    </ul>

  </div>

</footer>
