//
// header
//
.site-header {
  min-height: $header-height;
  margin-bottom: 40px;
  // background-color: $header-background;
  border-bottom: solid 1px $header-border-color;
  // color: $header-color;

  max-width: $header-width;
  padding: 0 20px;
  margin: 0 auto;
}

.site-title {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: $header-height;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &:visited {
    color: inherit;
  }

  &:hover {
    text-decoration: none;
  }

   @include media-query($on-palm-sm) {
    font-size: 1.2em; // match the other header links
  }
}

.site-nav {
  float: right;
  line-height: 56px;
}

.site-nav__link {
  line-height: $base-line-height;

  margin-right: 20px;

  font-size: 1.2em;
  color: $header-link-color;

  &:visited {
    color: inherit;
  }

  &:hover {
    text-decoration: none;
  }
}

//
// pages
//
.page-heading {
  border-bottom: 1px solid $grey-color-light;
  padding-bottom: 15px;
  font-weight: 300;
  margin-bottom: 50px;

  @include media-query($on-laptop) {
    margin-bottom: 25px;
  }

  @include media-query($on-palm-sm) {
    // fit "Joe Whitfield-Seed's blog" on one line
    font-size: 1.7em;
  }
}

.page-content {
  padding: 45px 0;

   @include media-query($on-palm) {
    padding: 15px 0;
  }
}

//
// home page
//
.home__header {
  display: flex;
  justify-content: center;
  margin: 55px auto 90px auto;

  @include media-query($on-palm) {
    flex-direction: column;
    align-items: center;

    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.home__avatar {
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px 8px -2px rgba(0,0,0,0.35);
     -moz-box-shadow: 4px 4px 8px -2px rgba(0,0,0,0.35);
          box-shadow: 4px 4px 8px -2px rgba(0,0,0,0.35);

  width: 100px;
  height: 100px;

  @include media-query($on-palm) {
    text-align: center;
  }
}

.home__title {
  margin: 8px 0 10px 0;
}

.home__header-text {
  margin-left: 30px;

  @include media-query($on-palm) {
    margin-left: 0;
    text-align: center;
  }
}

.home__intro {
  padding-left: 2px;

  small {
    font-size: 1em;
    color: $text-color-light;
  }
}

//
// posts
//
.post-list {
  list-style: none;
  margin-left: 30px;

  @include media-query($on-laptop) {
    margin-left: 20px;
  }

   @include media-query($on-laptop) {
    margin-left: 0;
  }
}

.post-summary {
  padding-bottom: 30px;
  margin-bottom: 30px;

  &:not(:last-child) {
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
  }
}

.post-summary__title {
  margin: 0;
}

.post-summary__date {
  color: $text-color-light;
}

.post-summary__schnipple {
  padding-top: 15px;
}

.site-footer {
  margin: 0 auto;
  max-width: $header-width;
  padding: 20px;

}

.site-footer__links {
  border-top: 1px solid $grey-color-light;
  margin: 0;
  padding-top: 25px;
  list-style: none;
  text-align: center;
}

.site-footer__link-item {
  display: inline-block;

  a {
    color: $header-link-color;
  }

  &:not(:last-child) {
    margin-right: 30px;
  }

  @include media-query($on-palm-sm) {
    margin: 0 !important;
    display: block;
    font-size: 1.2em;
  }
}

.site-footer__copyright {
  margin: 15px;
  color: $text-color-lighter;
  font-size: 0.8em;
  text-align: center;
}

//
// Objects
//
.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}
