$base-font-family: "Open Sans", "Lato", Helvetica, Arial, sans-serif;

$base-font-size:  16px;


$base-font-weight: 300;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #333;
$text-color-light: #666;
$text-color-lighter: #aaa;

$background-color: #fdfdfd;

$link-color: rgba(157, 43, 53, 1);
$link-color-hover: lighten($link-color, 10%);
// $link-color-visited: darken($link-color, 10%);
$link-color-visited: $link-color;

$header-link-color: rgba(54, 124, 162, 1);
$header-border-color: rgba(0, 0, 0, 0.05);

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;
$header-width: 1200px;

$on-palm-sm: 359px;
$on-palm: 600px;
$on-laptop: 800px;

$header-height:    56px;
